.container {
    display: flex;
  }
  
  .flex-item {
    flex-basis: 100px;
    height: 100px;
    background-color: rgb(102, 15, 209);
    margin: 10px;
  }
  
  .flex-item:nth-child(2) {
    flex-basis: 150px;
  }
  