body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #f0f0f0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

main {
    margin-top: 50px;
}
