.container {
    display: flex;
  }
  
  .flex-item {
    width: 100px;
    height: 100px;
    background-color: rgb(42, 158, 197);
    margin: 10px;
  }
  
  .flex-item:first-child {
    width: 50px;
  }
  