body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.quadrato {
    width: 100px;
    height: 100px;
    background-color: #4c9eaf;
}
